/*:root {
 --primary-bg-color: #f4f4f4;
  --text-color: #333;
  --main-bg-color: #333;
  --main-text-color: #fff;
  --main-btn-bg-color: #938989; 
}*/

body,
h1,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to bottom, #fdf6e3, #f3d0a5);
}

/* Add additional styles as needed */

/* Create a container for the main content */
.container {
  max-width: 1000px;
  width: 100%;
  padding: 10px;
}

/* Header styling */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: rgba(255, 255, 255, 0.274);
  backdrop-filter: blur(10px);
  border-bottom: 2px solid rgba(255, 255, 255, 0.3); /* légère bordure */
  overflow: hidden;
  z-index: 1000;
}

/* Navigation styling */
nav {
  margin-top: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: var(--text-color);
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 27px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  vertical-align: top;
  line-height: 65%;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Media player styling */
.media-player {
  position: relative;
  width: 80%;
  margin: 120px auto 40px;
  display: flex;
  justify-content: center;
}

#custom-video-player {
  width: 100%;
  max-width: 900px;
  display: block;
  border-radius: 10px;
}

.custom-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.4);
  padding: 1px 4px;
  box-sizing: border-box;
  justify-content: flex-start;
}

.custom-controls button {
  background-color: var(--main-btn-bg-color);
  filter: invert(1);
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.progress-bar {
  width: 83%;
  height: 5px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 3px;
  overflow: hidden;
}

.progress-bar:hover {
  cursor: pointer;
}

.progress-bar span {
  display: block;
  height: 100%;
  background-color: white; /* visible sur ton fond dégradé */
  width: 0;
  transition: width 0.3s ease;
}

/* Footer styling */
footer {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: rgba(255, 255, 255, 0.274);
  backdrop-filter: blur(10px);
  border-top: 2px solid rgba(255, 255, 255, 0.3); /* légère bordure */
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

#fullscreen-btn {
  position: absolute;
  bottom: 4px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  align-items: center;
}

#fullscreen-btn img {
  width: 24px;
  height: 24px;
  display: block;
  filter: invert(1);
  margin-bottom: 4px;
}

.infoBtn {
  width: 140px;
  height: 50px;
  position: absolute;
  font-size: 28px;
  font-family: Cochin, Georgia, Times, "Times New Roman", serif;
  cursor: pointer;
  background-color: #fbf0d9;
  color: black;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 70px;
  right: 40px;
  z-index: 10;
}

.videoDescription {
  text-align: center;
  color: black;
  margin-bottom: 35px;
  font-family: Cochin, Georgia, Times, "Times New Roman", serif;
}

.videoDescription h1 {
  font-size: 38px;
  margin-bottom: 8px;
}

.quote {
  font-size: 18px;
  font-style: italic;
}

.videoDescription p {
  font-size: 22px;
}

.titre {
  font-size: 24px;
  font-weight: bold;
  font-family: Cochin, Georgia, Times, "Times New Roman", serif;
}

.jump-buttons {
  text-align: center;
  margin-top: 20px;
}

.jump-buttons button {
  width: 70px;
  height: 50px;
  margin: 0 5px;
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.3);
  background-color: #f3d0a5;
  color: black;
  font-family: Cochin, Georgia, Times, "Times New Roman", serif;
  transition: transform 0.2s ease;
  margin-bottom: 5%;
  margin-top: 2%;
}

.jump-buttons button:hover {
  transform: scale(1.1);
}

.lui {
  text-decoration: none;
  color: black;
  font-size: 27px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  vertical-align: top;
  line-height: 65%;
}

/* Quand l’étape est active */
.step-btn.active {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-color: #ffffff;
}

#ttl {
  flex: auto;
  margin-top: 75px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 32px;
  font-family: Cochin, Georgia, Times, "Times New Roman", serif;
}

#para {
  text-align: center;
  font-size: 20px;
  margin: 0 20px 20px 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-right: 15%;
  margin-left: 15%;
  margin-bottom: 20px;
}
