.para-style {
  background-color: aliceblue;
  padding: 20px;
  border: 1px solid rgb(0, 0, 0);
}

img {
  display: block;
}

button {
  margin-top: 30px;
  padding: 20px;
  font-size: 20px;
}

.round {
  border-radius: 50%;
}
